<footer class="bg-dark py-4 mt-auto">
  <div class="container px-5">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
      <div class="col-auto">
        <div class="small m-0 text-white">@HoonDragonite</div>
      </div>
      <div class="col-auto">
        <a class="link-light small" href="https://github.com/HoonDragonite">Github</a>
        <span class="text-white mx-1">&middot;</span>
        <a class="link-light small" href="https://kingpiggylab.tistory.com/">Blog</a>
      </div>
    </div>
  </div>
</footer>
<script src="/js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
