<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
  <title>L.E.Assemble</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
  <!-- My CSS -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  <link rel="stylesheet" type="text/css" href="/css/fixed-navigation-bar.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">
  <!-- Bootstrap icons-->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU"
        crossorigin="anonymous">
  <!-- FontAwesome -->
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni"
        crossorigin="anonymous">
</head>
<body class="d-flex flex-column">
<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a class="sitename" href="/">L.E.Assemble</a>
    <!-- Example responsive navigation menu  -->
    <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
    <ul class="menu-items">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <span class="menu-item-user">
      {{#userName}}
        <span id="user">{{userName}}님</span>
        <a href="/logout">로그아웃</a>
      {{/userName}}
      {{^userName}}
        <a href="/mylogin">로그인</a>
      {{/userName}}
    </span>
  </div>
</nav>