<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fixed Navigation Bar</title>
  <meta name="description"
        content="An example of a fixed-position(sticky) top navigation bar that remains visible while the user scrolls the page.">
  <meta name="author" content="Six Revisions">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/assets/base.css">
  <link rel="stylesheet" href="/css/fixed-navigation-bar.css">
</head>
<body>
<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a class="sitename" href="/">L.E.Assemble</a>
    <!-- Example responsive navigation menu  -->
    <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
    <ul class="menu-items">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/test">111</a></li>
      <li><a href="/test2">222</a></li>
    </ul>
  </div>
</nav>
</body>
</html>