<nav class="fixed-nav-bar">
  <div id="menu" class="menu">
    <a class="sitename" href="/">L.E.Assemble</a>
    <!-- Example responsive navigation menu  -->
    <a class="show" href="#menu">Menu</a><a class="hide" href="#hidemenu">Menu</a>
    <ul class="menu-items">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/test">111</a></li>
      <li><a href="/test2">222</a></li>
    </ul>
    <span class="menu-item-user">
      {{#userName}}
        <span id="user">{{userName}}님</span>
        <a href="/logout">로그아웃</a>
      {{/userName}}
      {{^userName}}
        <a href="/mylogin">로그인</a>
      {{/userName}}
    </span>
  </div>
</nav>