{{>layout/header}}
<main>
    <div class="container">
        <div class="row">
            <h1>소개</h1>
        </div>
        <div class="row">
            <h4>프로젝트 소개</h4>
        </div>
        <div class="row">
            <h4>개발 중점사항</h4>
            <ul>
                <li>네이밍 잘하기</li>
                <li>코드 컨벤션 지키기</li>
                <li>패키지 분류 잘하기</li>
                <li>기능별 테스트코드 작성</li>
            </ul>
        </div>
        <div class="row">
            <h4>부족한 점</h4>
            <ul>
                <li>모던 자바 숙달</li>
                <li>객체지향 설계</li>
                <li>TDD 적용</li>
                <li>기능별 Branch 작업</li>
            </ul>
        </div>
    </div>
</main>
{{>layout/footer}}