<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
  <title>테스트 ver 1</title>
</head>
<body>
<div class="container">
  <!-- header -->
  <header>
    헤더
  </header>
  <!-- //header -->
  <!-- section -->
  <section>
    섹션
  </section>
  <!-- //section -->
  <!-- footer -->
  <footer>
    푸터
  </footer>
  <!-- //footer -->
</div>
</html>
