{{>layout/header}}
<div class="jumbotron">
  <div class="container">
    <h1>한정판매 모여라!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <h1>메인입니다.!!!!</h1>
  </div>
  {{>layout/footer}}
</div>