{{>layout/header}}

<div class="jumbotron">
    <div class="container">
        <h1>로그인</h1>
    </div>
</div>

<div class="container my-body">
    {{#userName}}
        <span id="user">{{userName}}</span>
        <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
    {{/userName}}
    {{^userName}}
        <ul>
            <li>
                <a href="/oauth2/authorization/google" class="btn" role="button">구글 로그인</a>
            </li>
            <li>
                <a href="/oauth2/authorization/kakao" class="btn" role="button">카카오 로그인</a>
            </li>
        </ul>
    {{/userName}}
</div>

{{>layout/footer}}