{{>layout/header}}
<main>
    <div class="container">
        <div class="row">
            <h1>로그인</h1>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-5">
                {{#userName}}
                    <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                {{/userName}}
                {{^userName}}
                    <ul>
                        <li>
                            <button onclick="doGoogleLogin()" class="btn col-5 m-3">
                                <img src="/assets/google-login-btn.png">
                            </button>
                        </li>
                        <li>
                            <button onclick="doKakaoLogin()" class="btn col-5 m-3">
                                <img src="/assets/kakao-login-btn.png">
                            </button>
                        </li>
                    </ul>
                {{/userName}}
            </div>
        </div>
    </div>
</main>
{{>layout/footer}}