{{>layout/header}}
<main>
    <div class="container">
        <section>
            <h1 class="text-primary">{{store.name}} 관리</h1>
        </section>
    </div>
</main>
<script src="/js/stores.js"></script>
{{>layout/footer}}