{{>layout/header}}
<main>
    <div class="container">
        <section>
            <h1 class="text-primary">{{store.name}} 관리</h1>
        </section>
        <section>
            <div class="row">
                <div class="col-3">
                    <div class="mt-5">
                        <div>
                            <h3>메뉴</h3>
                        </div>
                        <div class="list-group">
                            <a href="/my-store/products" class="list-group-item list-group-item-action">상품 관리</a>
                            <a href="#" class="list-group-item list-group-item-action">이벤트 관리</a>
                            <a href="#" class="list-group-item list-group-item-action">상점 정보 수정</a>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="m-5">
                        <div>
                            <h3>내 상품</h3>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">상품명</h5>
                                <p class="card-text">상품 설명</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">가격</li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link">수정</a>
                            </div>
                        </div>
                    </div>
                    <div class="m-5">
                        <h3>내 이벤트</h3>
                        <table class="table">
                            <thead>
                            <th>이름</th>
                            <th>기간</th>
                            <th>설명</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<script src="/js/stores.js"></script>
{{>layout/footer}}