{{>layout/header}}
<main>
    <div class="container">
        <section>
            <ul class="list-inline">
                <li class="list-inline-item h1 text-primary">{{store.name}} </li>
                <li class="list-inline-item h1">이벤트관리</li>
            </ul>
        </section>


    </div>
</main>
<script src="/js/storeEvents.js"></script>
{{>layout/footer}}