<!-- Navigation-->
{{>layout/header}}
<!-- Content-->
<section class="py-5">
  <div class="container px-5 my-5">
    {{#userName}}
      <span id="user">{{userName}}</span>
      <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
    {{/userName}}
    <ul>
      <li>
        {{^userName}}
          <a href="/oauth2/authorization/google" class="btn" role="button">구글 로그인</a>
        {{/userName}}
      </li>
      <li>
        {{^userName}}
          <a href="/oauth2/authorization/kakao" class="btn" role="button">카카오 로그인</a>
        {{/userName}}
      </li>
    </ul>
  </div>
</section>
</main>
<!-- Footer-->
{{>layout/footer}}